.card{
    height: 240px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: linear-gradient(to bottom, #FFFFFF 0%, #000000 50%);
    border-radius: 10px;
}

@media only screen and (max-width: 600px){
    .card{
        height: 180px;
    }
}


.card-media{
    background-size: cover;
}

.card-title{
    width: 60%;
    padding: 16px;
    color: white;
}