.header-main{
    max-height: 54px;
    margin-bottom: 32px;
    padding: 32px 0;
}

@media only screen and (max-width: 600px){
    .header-main{
        font-size: 12px;
        text-transform: uppercase;
        max-height: 48px;
        padding: 16px 0;
    }
}

.header-main-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-main-logo{
    margin-right: auto;
    width: 130px;
}

@media only screen and (max-width: 600px){
    .header-main-logo{
        width: 120px;
    }
}

.header-main-link{
    color: #FF6060;
    text-decoration: none;
    margin-left: 24px;
    margin-right: 24px;
}

.header-main-link.active{
    text-decoration: underline;
}