.tag{
    background-color: #FF6060;
    white-space: nowrap;
    padding: 6px 12px; 
    outline: none;
    border: none;
    border-radius: 10px;
    width: 115px;
    font-size: 10px;
    
}

@media only screen and (max-width: 600px){
    .tag{
        width: 90px;
        padding: 2px 14px;
        font-size: 8px;
    }
    
}

.tag-name{
    color: white;
}